#logo {
    background-color: rgb(30, 29, 35);
}
#title {
    background-color: rgb(156, 155, 175);
    color: #fff;
}
#menu {
    background-color: rgb(156, 155, 175);
    color: #505;
}
#main {
    background-color: rgb(187, 187, 221);
    color: rgb(245, 237, 216);
}
